.wii-footer{
    background-color: #D3D5DB;
    z-index: 0;
    height: 25vh;
    width: 100vw;
    /* clip-path: polygon(0 0, 30% 6%, 40% 14%, 60% 14%, 70% 6%, 100% 0, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%); */
    position: fixed;
    bottom: 0;
    border-top: solid cyan;
    /* box-shadow: 0 15px 0 green inset; */
    display: flex;
    justify-content: center;
    align-items: flex-start;

    box-shadow: inset 0em 2em 30px rgba(128, 128, 128, 0.529);

}

.footer-notch{
    position: relative;
    z-index: 10;
    top: -3px;
    width: 30%;
    height: 40%;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom: solid cyan;
    border-left: solid cyan;
    border-right: solid cyan;
    box-shadow:  0em 10px 20px -10px rgba(128, 128, 128, 0.568);

}


/* .footer-notch-cover{
    position: relative;
    z-index: 10;
    width: 30%;
    height: 50px;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom: solid cyan;
    border-left: solid cyan;
    border-right: solid cyan;
} */


.adress-book{
    color: #63C5F7;
    font-weight: bold;
    font-size: 2rem;
}